@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

@layer components {
  .count-container:first-child {
    border-right: 1px solid #f0f1f2;
    @apply flex-grow;
  }
  .count-container:last-child {
    border-left: 1px solid #f0f1f2;
    @apply flex-grow;
  }
}